@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn G-Hotel</h3>

            <p>
                Khách sạn Hà Nội là khách sạn Quốc tế đầu tiên tại Việt nam. Tọa lạc giữa lòng Thủ đô, khách sạn Hà Nội là điểm dừng chân lý tưởng của các du khách trong và ngoài nước cho mỗi chuyến công tác hay du lịch cùng bạn bè và người thân.

                Khách sạn có vị trí thuận lợi gần các cơ quan Chính Phủ, các Đại sứ Quán, Bộ Ngoại Giao và cách sân bay Quốc tê Nội Bài chừng 30km, ga Hà Nội 3 km. Các du khách sẽ ấn tượng bởi thiết kế của 2 tòa nhà City Wing và Lake Wing với 218 phòng deluxe và suite sang trọng cùng các trang thiết bị hiện đại, tiện nghi được bài trí sáng tạo và độc đáo.
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29786.854633437935!2d105.74098529999999!3d21.05840585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1525256087465" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                Không chỉ làm hài lòng Quý khách bởi hệ thống phòng nghỉ sang trọng cùng các trang thiết bị hiện đại, Khách sạn còn cung cấp các dịch vụ phong phú và tiện nghi như: Nhà hàng, Phòng họp, dịch vụ cho thuê Văn phòng, sân Tennis, Sauna & Massage, trung tâm Thể hình, Sòng bạc và các dịch vụ giải trí.

                Tại đây, Quý khách được thưởng thức các món ẩm thực tinh tế mang đậm phong cách truyền thống và được đảm nhiệm bởi các đầu bếp chuyên nghiệp, tài hoa cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm. Tất cả đã góp phần làm nổi danh một thương hiệu Khách sạn Hà Nội.

            </p>
        </div>
    </div>
</div>

